@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap');
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a[target]{
    text-decoration: underline;
}

ul, ol{
    list-style: auto !important;
    margin-left: 2.5rem;
}

code {
    font-family: 'Source Code Pro', monospace;
    background-color: #1e1e1e;
    color: #eaeaea;
    padding: 4px;
    border: 1px solid #333;
    border-radius: 4px;
}

pre {
    font-family: 'Source Code Pro', monospace;
    white-space: pre-wrap;
    background-color: #1e1e1e;
    color: #eaeaea;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 6px;
    overflow-x: auto;
}

.dark code {
    font-family: 'Source Code Pro', monospace;
    background-color: #f4f4f4;
    color: #333;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dark pre {
    font-family: 'Source Code Pro', monospace;
    white-space: pre-wrap;
    background-color: #f4f4f4;
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow-x: auto;
}